<body>
  <table>
      <tbody>
          <tr>
              <th>Id</th>
              <td>{{ service.id }}</td>
          </tr>
          <tr>
              <th>Name</th>
              <td>{{ service.name }}</td>
          </tr>
          <tr>
              <th>Slug</th>
              <td>{{ service.slug }}</td>
          </tr>
          <tr>
              <th>Image</th>
              <td>{{ service.image }}</td>
          </tr>
          <tr>
              <th>Createdat</th>
              <td>{% if service.createdAt %}{{ service.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
          </tr>
          <tr>
              <th>Updatedat</th>
              <td>{% if service.updatedAt %}{{ service.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
          </tr>
          <tr>
            <th>Menus</th>
            <td>
              {% for menu in service.menus %}
                  <li><a href="/temas/{{menu.slug}}">{{menu.name}}</a></li>
              {% endfor %}
            </td>
          </tr>
      </tbody>
  </table>
</body>
