{% extends 'layouts/dashboard.html.twig' %}
{% block title %}Ads list{% endblock %}
{% block body %}
<div class="form-group text-right" >
    <a href="{{ path('ad_new') }}" class="btn btn-success">Create a new menu</a>
</div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Link</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td>{{ ad.title }}</td>
                <td>{{ ad.image }}</td>
                <td>{{ ad.link }}</td>
                <td>
                  <a href="{{ path('ad_show', { 'id': ad.id }) }}" class="btn btn-info glyphicon glyphicon-share-alt" ></a>
                  <a href="{{ path('ad_edit', { 'id': ad.id }) }}" class="btn btn-primary glyphicon glyphicon-pencil"  ></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
