{% extends 'layouts/dashboard.html.twig' %}
{% block title %}Ad{% endblock %}

{% block body %}
    <div class="form-group text-right">
        <a href="{{ path('ad_index') }}" class="btn btn-info">Back to the list</a>
    </div>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ad.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ ad.image }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ ad.link }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if ad.createdAt %}{{ ad.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if ad.updatedAt %}{{ ad.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-group text-right">
        <a href="{{ path('ad_edit', { 'id': ad.id }) }}" class="btn btn-success">Edit</a>
    </div>
    <div class="form-group text-right">
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
