{% extends 'layouts/dashboard.html.twig' %}
{% block title %}Post edit{% endblock %}
{% block body %}
    <div class="form-group text-right">
      <a href="{{ path('post_index') }}" class="btn btn-info">Back to the list</a>
    </div>
    {{ form_start(edit_form , { 'enctype':"multipart/form-data"} ) }}
    <div class="form-group">
      {{ form_widget(edit_form) }}
    </div>
    <div class="form-group text-right">
      <input type="submit" value="Edit" class="btn btn-success"/>
    </div>
    {{ form_end(edit_form) }}
    <div class="form-group text-right">
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
{% block WYSIWYG %}
<script>
    var editor = CKEDITOR.replace( 'appbundle_post_content' );
    CKFinder.setupCKEditor( editor, 'ckfinder/' );
</script>
{% endblock %}
