{% extends 'layouts/dashboard.html.twig' %}
{% block title %}Service{% endblock %}
{% block body %}
    <div class="form-group text-right">
      <a href="{{ path('service_index') }}" class="btn btn-info">Back to the list</a>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ service.slug }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ service.image }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if service.createdAt %}{{ service.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if service.updatedAt %}{{ service.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
        <div class="form-group text-right">
            <a href="{{ path('service_edit', { 'id': service.id }) }}" class="btn btn-primary">Edit</a>
        </div>
        <div class="form-group text-right">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
{% endblock %}
